@page "/maps-features3"

@using Syncfusion.Blazor.Maps

<div class="control-section">
    <SfMaps Height="900px" Width="1200px" Theme="Theme.Bootstrap5" Background="transparent" UseGroupingSeparator="true">
        <MapsAreaSettings Background="transparent" />
        <MapsCenterPosition Latitude="-34.192" Longitude="-68.2623" />
        <MapsZoomSettings Enable="false" ZoomFactor="8" />
        <MapsLegendSettings Visible="true" Position="LegendPosition.Float" Height="250px" Width="220px" Type="LegendType.Markers" X="10" Y="547" Background="#E6E6E6" ShapePadding="10">
            <MapsLegendTextStyle FontFamily="inherit" Color="#000000" />
        </MapsLegendSettings>
        <MapsLayers>
            <MapsLayer UrlTemplate="https://a.tile.openstreetmap.org/level/tileX/tileY.png" TValue="string">
            <MapsMarkerSettings>
                    <MapsMarker Visible="true" TValue="PopulationCityDetails" DataSource="@PopulatedCities" Shape="MarkerType.Circle" Fill="#FFFFFF" ColorValuePath="Color" LegendText="Name" Height="15" Width="15">
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Population" Format="Ciudad: ${Name}</br>Población: ${Population} miles</br>Latitud: ${Latitude} Longitud : ${Longitude} ">
                            <MapsMarkerTooltipTextStyle FontFamily="inherit"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
</div>
@code {
    public class PopulationCityDetails
    {
        public string Name { get; set; }
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public double Population { get; set; }
        public string Color { get; set; }
    };
    public List<PopulationCityDetails> PopulatedCities = new List<PopulationCityDetails> {
        new PopulationCityDetails { Name ="San Rafael", Latitude= -34.71772, Longitude= -68.33007, Population= 188018, Color="#2EB6C8"},
        new PopulationCityDetails { Name ="Rivadavia", Latitude= -33.192, Longitude= -68.4623, Population= 56373, Color="#4A97F4"},
        new PopulationCityDetails { Name ="Guaymallén", Latitude= -32.8973, Longitude= -68.8247, Population= 283803, Color="#498082"},
        new PopulationCityDetails { Name ="Las Heras", Latitude= -32.835, Longitude= -68.8169, Population= 203666, Color="#FB9E67"},
        new PopulationCityDetails { Name ="Godoy Cruz", Latitude= -32.9253, Longitude= -68.8442, Population= 191903, Color="#8F9DE3"},
        new PopulationCityDetails { Name ="Maipu", Latitude= -32.9667, Longitude= -68.7833, Population= 172332, Color="#7B9FB0"},
        new PopulationCityDetails { Name ="Lujan de Cuyo", Latitude= -33.0392, Longitude= -68.88, Population= 119888, Color="#4DB647"},
        new PopulationCityDetails { Name ="San Martín", Latitude= -33.08103, Longitude= -68.46814, Population= 118220, Color="#30BEFF"},
        new PopulationCityDetails { Name ="Capital", Latitude= -32.89084, Longitude= -68.82717, Population= 115041, Color="#Ac72AD"},
        new PopulationCityDetails { Name ="Tunuyan", Latitude= -33.56667, Longitude= -69.01667, Population= 49458, Color="#4a97f4"},
        new PopulationCityDetails { Name ="General Alvear", Latitude= -34.9769, Longitude= -67.6961, Population= 46429, Color="#498082"},
        new PopulationCityDetails { Name ="Junin", Latitude= -33.16667, Longitude= -68.5, Population= 37859, Color="#fb8067"},
        new PopulationCityDetails { Name ="Lavalle", Latitude= -32.7211, Longitude= -68.5983, Population= 36738, Color="#8f9de3"},
        new PopulationCityDetails { Name ="San Carlos", Latitude= -33.775, Longitude= -69.0411, Population= 32631, Color="#7bafb0"},
        new PopulationCityDetails { Name ="Tupungato", Latitude= -33.3728, Longitude= -69.1475, Population= 32524, Color="#769968"},
        new PopulationCityDetails { Name ="Malargue", Latitude= -35.4752134, Longitude= -69.585934, Population= 27660, Color="#068ecc"},
        new PopulationCityDetails { Name ="Santa Rosa", Latitude= -33.5, Longitude= -68, Population= 16374, Color="#52183f"},
        new PopulationCityDetails { Name ="La Paz", Latitude= -33.4667, Longitude= -67.55, Population= 10012, Color="#EFE23E"}
    };

}